<h2 class="text-center title mt-5">OUR Services</h2>

<div class="container d-flex mx-5 px-4 mt-5 mx-auto">
    <div class="card mx-5 mb-5" style="width: 18rem;">
        <img src="assets/images.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card mx-5 mb-5" style="width: 18rem;">
        <img src="assets/images.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card mx-5 mb-5" style="width: 18rem;">
        <img src="assets/img.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card mx-5" style="width: 18rem;">
        <img src="assets/images.jfif" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card mx-5" style="width: 18rem;">
        <img src="assets/err.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card mx-5 " style="width: 18rem;">
        <img src="assets/images.jfif" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>

<br>

<hr />
<br>
<h2 class="text-center title">See Books</h2>
<div class=" d-flex mx-4 px-4 mt-5">
    <div class="card mb-3 mt-5 mx-4" style="width: 640px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="assets/Serrano-HI.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">grokking Algorithms</h5>
                    <p class="card-text">grokking Algorithms is a fully illustrated, friendly guide that teaches you how to apply common algorithms to the practical problems you face every day as a programmer.</p>
                    <a href="assets/grokking-algorithms-illustrated-programmers-curious.pdf" download="assets/grokking-algorithms-illustrated-programmers-curious.pdf" class="card-text">download</a>

                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3  mt-5 mx-4" style="width: 640px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="assets/Serrano-HI.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">grokking Algorithms</h5>
                    <p class="card-text">grokking Algorithms is a fully illustrated, friendly guide that teaches you how to apply common algorithms to the practical problems you face every day as a programmer.</p>
                    <a href="assets/grokking-algorithms-illustrated-programmers-curious.pdf" download="assets/grokking-algorithms-illustrated-programmers-curious.pdf" class="card-text">download</a>

                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 mx-auto mt-5" style="width: 640px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="assets/Serrano-HI.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">grokking Algorithms</h5>
                    <p class="card-text">grokking Algorithms is a fully illustrated, friendly guide that teaches you how to apply common algorithms to the practical problems you face every day as a programmer.</p>
                    <a href="assets/grokking-algorithms-illustrated-programmers-curious.pdf" download="assets/grokking-algorithms-illustrated-programmers-curious.pdf" class="card-text">download</a>

                </div>
            </div>
        </div>
    </div>
</div>