<div class="card w-50 mx-auto mt-5">
    <div class="card-header text-center">
        Welcome, Login
    </div>
    <div class="card-body">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
        </div>

        <div class="mb-3">
            <label for="pass" class="form-label">Password</label>
            <input type="password" class="form-control" id="pass" placeholder="*********">
        </div>


    </div>
    <div class="mb-3 mx-auto">
        <button type="submit" class="btn btn-dark">Submit</button>
    </div>
</div>